@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    width: 100%
}

body {
    margin: 0;
}

header {
    display: grid;
    grid-area: header;
    background: linear-gradient(180deg, orange, white ); ;
    height: 250px;
    width: 100%
}

h1 {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 100px;
    color: black;

}

h2{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: black; 
}

.faixa ul {
    display: flex;
    justify-content: center;

}

.faixa ul li {
    list-style-type: none;
    padding-right: 85px;
    font-size: 15px;
    
}

main {
    margin: 125px 64px;
    text-align: justify;
    display: grid
   
}

/* p{
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: black; 
} */

footer{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%
}
